body{
    background-color: #F3F5FC;
}

main{
    font-family: "Inter", sans-serif;
}

h1{
    display: inline-block;
    padding: 40px 0 0 40px; 
    vertical-align: top;
}

.caja{
    display: inline-block;
    width: 50%;
}

.caja textarea:focus{
    outline: none;
}

.caja textarea::placeholder{
    color: #0A3871;
}

#texto{
   font-size: 32px;
   font-weight: 400;
   border: none;
   margin: 168px 0 0 80px;
   background-color: #F3F5FC;
   color: #0A3871;
}

.botones{
    display: inline-block;
    margin: 301.5px 0 0 0;
}

.botones img{
    width: 16px;
}

.botones p{
    display: inline-block;
    font-size: 12px;
    color: #495057;
    padding: 0 0 16px 0;
}

.botonEncriptar{
    border: 1px solid #0A3871;
    background-color: #0A3871;
    color: #fff;
}

.botonDesencriptar{
    border: 1px solid #0A3871;
    background-color: #d8dfe8;
    color: #0A3871;
}

.boton{
    border-radius: 24px;
    font-size: 16px;
    padding: 24px 0;
    width: 250px;
}

.mensajeFinal{
    display: inline-block;
    vertical-align: top;
    background-color: #FFF;
    height: 944px;
    border-radius: 32px;
    width: 400px;
    margin: 40px 0 40px 0;
}

.mensajeFinal div{
    width: 336px;
    margin: 0 auto;
}

#caja-final {
    width: 336px;
    margin: 0 auto;
}

.mensajeFinal img{
    margin-top: 243px;
    width: 336px;
}

.mensajeFinal h2{
    padding: 32px 0 16px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.mensajeFinal p{
    font-size: 16px;
    text-align: center;
}

.copiar{
    border-radius: 24px;
    font-size: 16px;
    padding: 24px 0;
    width: 250px;   
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-top: 160px;
    margin-left: 75px;
    background-color: #FFF;
}

footer{
    text-align: center;
}

