
body{
    background-color: #F3F5FC;
}

main{
    font-family: "Inter", sans-serif;
}

h1{
    display: inline-block;
    padding: 40px 0 0 2.77%; 
    vertical-align: top;
}

.caja{
    display: inline-block;
    width: 58.33%;
}

.caja textarea:focus{
    outline: none;
}

.caja textarea::placeholder{
    color: #0A3871;
}

#texto{
   font-size: 32px;
   font-weight: 400;
   border: none;
   margin: 168px 0 0 80px;
   background-color: #F3F5FC;
   color: #0A3871;
}

.botones{
    display: inline-block;
    margin: 301.5px 0 0 0;
}

.botones section{
    display: block;
}

.botones img{
    width: 16px;
}

.botones p{
    display: inline-block;
    font-size: 12px;
    color: #495057;
    padding: 0 0 16px 0;
}

.botonEncriptar{
    border: 1px solid #0A3871;
    background-color: #0A3871;
    color: #fff;
}

.botonDesencriptar{
    border: 1px solid #0A3871;
    background-color: #d8dfe8;
    color: #0A3871;
}

.boton{
    border-radius: 24px;
    font-size: 16px;
    padding: 24px 0;
    width: 250px;
}

#mensajeFinal{
    display: inline-block;
    vertical-align: top;
    background-color: #FFF;
    height: 944px;
    border-radius: 32px;
    width: 27.77%;
    margin: 40px 0 40px 0;
    position: relative;
}

#mensajeFinal div{
    width: 336px;
    margin: 0 auto;
}

#caja-final {
    width: 81.25%;
    margin: 0 auto;
}

#mensajeFinal img{
    margin-top: 243px;
    width: 336px;
}

#mensajeFinal h2{
    padding: 32px 0 16px 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
}

#mensajeFinal p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 32px;
}

#copiar{
    position: absolute;
    border-radius: 24px;
    font-size: 16px;
    padding: 24px 0;
    width: 250px;   
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-left: 12%;
    background-color: #FFF;
    position: absolute; 
    bottom: 35px;
}

footer{
    text-align: center;
}

@media screen and (max-width: 768px) {
    
    h1{
        padding: 73.42px 0 0 40px;
    }
    
    .titulo img{
        display: none;
    }

    .titulo::before{
        content: url(imagenes/logo\ tablet.png);
    }

    .caja, #mensajeFinal{
        width: 100%;
    }

    #texto{
        margin: 116px 0 20px 40px;
        width: 89.58%;
    }

    .botones{
        margin-left: 5.2%;
        width: 89.58%;
    }

    #dosBotones{
        width: 89.58%;
        margin: 0 auto;
    }

    #dosBotones section{
        margin-left: 10.2%;
    }

    .dosBotones-hijo{
        display: block;
        width: max-content;
        margin: 0 auto;
    }

    .lupin{
        display: none;
    }

    #mensajeFinal{
        height: auto;
        width: 89.6%;
        margin-left: 5.2%;
    }

    #mensajeFinal .ultimoBoton{
        width: 90%;
    }

    #caja-final{
        height: 66%;
        width: 100%;
        margin: 0;
    }

    div #caja-final{
        width: 100%;
    }

    .ultimoBoton{
        margin: 0 auto;
        width: 90%;
    }


    #copiar{
        margin-top: 5% ;
        position: relative;
        width: 100%;
        margin-left: 0;
    }

}


@media screen and (max-width: 480px){
    .titulo{
        padding: 24px 0 24px 16px;
    }
    
    .titulo img{
        display: none;
    }

    .titulo::before{
        content: url('imagenes/Logo\ celular.png');
    }

    .caja{
        width: auto;
    }

    #texto{
        margin: 56px 0 0 16px;
        padding: 0;
        width: 92%;
        height: 299px;
    }

    .botones{
        margin: 0;
        width: 100%;
    }

    .botones div{
        width: 87.2%;
        margin: 0 auto;
    }

    .boton{
        width: 99%;
        margin-bottom: 24px;
    }

    #mensajeFinal{
        display: inline-block;
        width: 86%;
        height: auto;
        margin-left: 7%;
        margin-right: 7%;
    }

    .lupin{
        display: none;
    }

    #caja-final{
        height: 66%;
        width: 100%;
        margin: 0;
    }


    div #caja-final{
        width: 100%;
    }

    .ultimoBoton{
        margin: 0 auto;
    }

    #copiar{
        margin-top: 5% ;
        position: relative;
    }
}

